<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
    <body>
        <nav>
            <ul class="nav">
                <li class="left"><a href="/">Home</a></li>
                <li class="left"><a href="/register">Register</a></li>
            </ul>
        </nav>
        <div>
            {{content}}
            {% for id, user, post, date_posted in posts %}
                <h3>{{date_posted}} @{{user}}</h3>
                <p>{{post}}</p>
            {% endfor %}
        </div>
    	<div>
		<form method="POST" action="/post-action">
		    	<label for="post">post</label>
		    	<input id="post" name="post" type="textarea" rows="4" cols="50" placeholder="My post goes here" pattern="^[\w\s\.\-,\']+$" required></input>
		    	<input id="submit" type="submit">post</input>
		</form>
	</div>
    </body>
</html>
